.DS_Store
*.rs.bk
*.pem
*.csr
*.venv
*.vscode
*.srl
.cargo/config.toml
*.oss
output
dhat-heap.json
Cargo.lock
zookeeper_data
zookeeper_logs
kafka_data
kafka_logs
jniLibs*
*.so
backup_llama_android_ndk/
llama-android-ndk/
llama.cpp/
*.gguf
*.rlib
gpuf-android-sdk
config/
./config/
/target

# Android test app build artifacts
android_test_app/.gradle/
android_test_app/build/
android_test_app/app/build/

# gpuf-c Android build artifacts
gpuf-c/build_android/android_test